@import url(https://fonts.googleapis.com/css?family=Open+Sans);
header {
    height: 1px;
    width: auto;
    background: #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
}

.active {
    background-color: darkgrey !important;
}

nav button {
  float: right;
  width: 80px;
  height: 50px;
  background-color: lightgrey;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  display: block;
  margin-top: 15px;
 }

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;

}

nav {
    display: block;
    list-style-type: none;
    position: relative;
    float: right;
    margin-top: 5px;

}

nav li {
    list-style-type: none;
    position: relative;
    float: right;
}

.line-separator {
  height: 1px;
  margin-top: -15px;
  background: #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
 }

 .clear {
  clear: both;
}

.footerText {
    text-align: center;
    margin-top: 10px;
}

.picture {
    margin-top: 50px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
