.title {
  color: #ffffff;
  font-size: 32px;
  padding-top: 50px;
}

.blurbSmallText {
  color: goldenrod;
  font-size: 18px;
  width: 75%;
margin: 0 auto;
padding-bottom: 10px;
}

.menuItem {
  color: #ffffff;
  width: 75%;
margin: 0 auto;

}

.menuItem p {
  width: 75%;
margin: 0 auto;
}

.menuLeft {
  background-color: #313539;
  float: left;

  width: 50%;
  height: 1000px;
  overflow: hidden;
  padding-right: 25px;
  padding-left: 25px;
}

.menuRight {
  background-color: #313539;
  float: right;

  width: 50%;
  height: 750px;
  overflow: hidden;

}


.dinner {

  height: 1024px;
  background-color: #313539;
}

.featuredArtist {
  color: goldenrod;

  font-size: 36px;
  padding-top: 25px;
}
